body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 22%, rgba(121,75,9,1) 54%, rgba(124,61,128,1) 92%);
}
.container {
    display: flex;
    background: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 1500px;
}
.image-container img {
    max-width: 300px;
    border-radius: 5px;
}
.product-details {
    padding-left: 20px;
}
.product-title {
    font-size: 24px;
    font-weight: bold;
}
.price {
    font-size: 20px;
    color: #ff0000;
    margin: 10px 0;
}
.stock {
    color: green;
}
.add-to-cart {
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 80px;
    border-radius: 5px;
}

.buy-now {
    display: inline-block;
    background: #ff0000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 80px;
    border-radius: 5px;
    margin-left: 30px;
}   
.product-title {
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #575757;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.product-contact {
    background-color: #f9f9f9;
    margin-left: 40px;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.product-contact h3 {
    margin-top: 0;
    font-size: 24px;
    color: #292828;
}

.product-contact p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}